<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>College</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>IIT-Bombay-B.Tech-Computer Science and Engineering-4 Years</td>
    </tr>
    <tr>
      <th>1</th>
      <td>IIT-Delhi-B.Tech-Computer Science and Engineering-4 Years</td>
    </tr>
    <tr>
      <th>2</th>
      <td>NIT-Tiruchirappalli-B.Arch-Architecture-5 Years</td>
    </tr>
    <tr>
      <th>3</th>
      <td>NIT-Calicut-B.Arch-Architecture-5 Years</td>
    </tr>
    <tr>
      <th>4</th>
      <td>IIT-Delhi-B.Tech + M.Tech (IDD)-Computer Science and Engineering-5 Years</td>
    </tr>
    <tr>
      <th>5</th>
      <td>IIT-Madras-B.Tech-Computer Science and Engineering-4 Years</td>
    </tr>
    <tr>
      <th>6</th>
      <td>IIT-Kanpur-B.Tech-Computer Science and Engineering-4 Years</td>
    </tr>
    <tr>
      <th>7</th>
      <td>IIT-Bombay-B.Tech-Electrical Engineering-4 Years</td>
    </tr>
    <tr>
      <th>8</th>
      <td>IIT-Kharagpur-B.Tech-Computer Science and Engineering-4 Years</td>
    </tr>
    <tr>
      <th>9</th>
      <td>IIT-Madras-B.Tech + M.Tech (IDD)-Computer Science and Engineering-5 Years</td>
    </tr>
  </tbody>
</table>